html { 
    font-family: Tahoma; 
    font-weight: 500;
    background: linear-gradient(180deg, rgba(214,46,2,1) 0%, rgba(253,152,85,1) 25%, rgba(255,255,255,1) 50%, rgba(209,97,162,1) 75%, rgba(162,1,96,1) 100%); 
}

.book > a > img {
    width: 250px;
    border: 2px solid darkGray
}

#deutsch {
    /* copied directly from https://stackoverflow.com/questions/609273/convert-an-image-to-grayscale-in-html-css */
    -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
    filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
}

#book-wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1em;
}
