html { 
    font-family: 'Segoe UI'; 
    font-weight: 600;
    background: linear-gradient(180deg, #fdcabe, #fedbc4, #fee3e6 , #fecae8 , #feb6e1);
    min-height: 100%;
}

.bookImg {
    width: 250px;
    min-width: 250px;
    min-height: 320px;
    border: 2px solid #b5a7a8;
    white-space-collapse: preserve-breaks;
    font-size: 24px;
    background-color: #fff5f5;
}

#deutsch {
    background-image:url("covers/deutsch.jpg");
    background-size: cover;
    overflow: hidden;
    height: 345.289px;
    font-size: 31px;
    word-break: break-all;
    box-sizing: border-box;
    padding: 5px;
}

#book-wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1em;
}
